{% form_theme form 'CompanyBundle:Form:fields.html.twig' %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">{{ 'company_main_tab'|trans }}</a></li>
    <li><a href="#meta" data-toggle="tab">{{ 'company_meta_tab'|trans }}</a></li>
    <li><a href="#showtime" data-toggle="tab">{{ 'company_showtime_tab'|trans }}</a></li>
    {% if not is_create_page %}
        <div class="pull-right tip" data-toggle="tooltip" data-placement="bottom" title="{{ 'company_lik_help'|trans }}">
            <input disabled="disabled" style="width:250px" class="form-control white-bg pull-left" type="text" value="{{ url('company_show', { 'slug': document.slug }) }}" />
            <a target="_blank" href="{{ path('company_show', { 'slug': document.slug }) }}" class="btn btn-success pull-right"><i class="glyphicon glyphicon-eye-open"></i> {{ 'view_my_company_page'|trans }}</a>
        </div>
    {% endif %}
</ul>

<!-- Tab panes -->
{% if is_create_page %}
<form id="create" class="form-horizontal" action="{{ path('company_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
{% else %}
<form action="{{ path('company_update', { 'id': document.id }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
{% endif %}
    <div class="tab-content">
        <div class="tab-pane active" id="main">
            <div clas="col-lg-24">
                <div class="pull-left col-lg-13">
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.category) }}
                {{ form_row(form.city) }}
                {{ form_row(form.address) }}
                {{ form_row(form.mobilePhone) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.site) }}
                {{ form_row(form.isActive, {'help': 'form.is_published.help'|trans }) }}
                </div>
                <div class="pull-right col-lg-11">
                    <div id="logo" class="col-lg-24">
                        <div class="control-group ">
                            {{ form_label(form.logo) }}
                            <div class="controls">
                                {{ form_errors(form.logo) }}
                                {{ form_widget(form.logo) }}
                                <div class="imagePreview" style="margin-top: 10px">
                                    <a href="javascript:$('#company_logo').click();return false;" class="thumbnail">
                                    {% if document.id and document.logo %}
                                        <img  src="{{ document.logo.webpath | imagine_filter('company_edit') }}" />
                                    {% else %}
                                        <img src="http://placehold.it/380x250" alt="Logo" />
                                    {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="map" class="col-lg-24" style="border: 1px #bfbfbf solid">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="meta">
            <div class="col-lg-24" style="min-height: 175px">
                {{ form_row(form.metaData) }}
            </div>
        </div>

        <div class="tab-pane" id="showtime">
            <div class="col-lg-24" style="min-height: 175px">
                <div class="col-lg-4">
                    {{ form_row(form.settings) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
        <div class="col-lg-24"><hr></div>
        <div class="col-lg-{% if is_create_page %}24{% else %}12{% endif %}">
            <button class="btn btn-primary {% if is_create_page %}center-block {% endif %}" type="submit">
                {% if is_create_page %}
                    <i class="glyphicon glyphicon-plus"></i>
                    {{ 'create_company'|trans }}
                {% else %}
                    <i class="glyphicon glyphicon-floppy-saved"></i>
                    {{ 'company_save'|trans }}
                {% endif %}
            </button>
        </div>
</form>
