{% extends "::base.html.twig" %}
{% block title %}{{ 'company_edit'|trans }}{% endblock %}

{% block body %}

<div class="heading">
    <h1>{{ 'company_edit'|trans }}</h1>
</div>

{{ include('CompanyBundle:Company:_form.html.twig', {is_create_page: false}) }}

<div class="actions">
    <form class="pull-right" action="{{ path('company_delete', { 'id': document.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">
            <i class="glyphicon glyphicon-trash"></i>
            {{ 'company_delete'|trans }}
        </button>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{ asset('js/lib/colorpicker/js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="{{ asset('js/gmaps.js') }}"></script>
    <script>
        initMap('{{ document.lat }}', '{{ document.long }}');
    </script>
    <script>
        $('#company_settings_bgColor').colorpicker()
        $('#company_settings_bgColor').colorpicker().on('changeColor', function(ev){
            var bodyStyle = $('body')[0].style;
            bodyStyle.backgroundColor = ev.color.toHex();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/js/lib/colorpicker/css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
{% endblock %}
