{% extends "::base.html.twig" %}

{% block body %}
    <div class="heading">
        <h1>{{ 'companies'|trans }}</h1>
    </div>

<div class="container">
    <div class="row">
        <div class="count pull-right" style="padding-right: 20px">
            {{ 'catalog.pager.count'|trans }}: {{ pagination.getTotalItemCount }}
        </div>
    </div>
    <div class="row">
    {% for company in pagination %}
        <div class="badger-left badger-success" data-badger="{{ company.category.parent.name }} > {{ company.category }}">
            <div class="row">
                <div class="col-xs-3">
                    {% if company.logo %}
                        <img class="img-responsive" src="{{ company.logo.webpath | imagine_filter('company_list') }}" />
                    {% else %}
                        <img src="http://placehold.it/89x89" alt="Logo" />
                    {% endif %}
                    <p class="text-center view-counts hidden-md">
                        <a href="#" class="tip" data-toggle="tooltip" title="" data-original-title="{{ 'main_page.view_count'|trans }}">{{ company.views }} <i class="glyphicon glyphicon-eye-open"></i></a>
                        <a href="#" class="tip" data-toggle="tooltip" title="" data-original-title="{{ 'main_page.likes_count'|trans }}">8 <i class="glyphicon glyphicon-thumbs-up"></i></a>
                    </p>
                </div>
                <div class="col-xs-21">
                    <h4 class="company-name">
                        <p class="pull-left hidden-md no-padding-top">
                            <a href="{{ path('company_show', { 'slug': company.slug }) }}">{{ company.name }}</a>
                        </p>

                        <p class="pull-right view-counts hidden-md no-padding-top" style="font-size: 12px">
                            {{ 'main_page.company.created'|trans }} {{ company.created }}
                        </p>
                    </h4>
                    <table class="table table-condensed table-responsive table-user-information">
                        <tbody>
                            <tr>
                                <td class="black">
                                    <i class="glyphicon glyphicon-home"></i>
                                    {{ 'catalog.address'|trans }}:
                                    &nbsp;{{ company.fullAddress }}
                                </td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                    {{ 'catalog.email'|trans }}:&nbsp;
                                    {% if company.email %}{{ company.email }}{% else %}{{ 'catalog.no_value'|trans }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <i class="glyphicon glyphicon-phone"></i>
                                    {{ 'catalog.mobile'|trans }}:&nbsp;
                                    {% if company.mobilePhone %}{{ company.mobilePhone }}{% else %}{{ 'catalog.no_value'|trans }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <i class="glyphicon glyphicon-phone-alt"></i>
                                    {{ 'catalog.phone'|trans }}:&nbsp;
                                    {% if company.phone %}{{ company.phone }}{% else %}{{ 'catalog.no_value'|trans }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="black">
                                    <i class="glyphicon glyphicon-globe"></i>
                                    {{ 'catalog.site'|trans }}:&nbsp;
                                    {% if company.site %}{{ company.site }}{% else %}{{ 'catalog.no_value'|trans }}{% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-24">
                    <a target="_blank" href="{{ path('company_show', { 'slug': company.slug }) }}" class="view-button btn btn-primary btn-lg btn-block center-block">{{ 'main_page.view_button'|trans }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}