{% extends "::base.html.twig" %}

{% block body %}
    <div class="heading">
        <h1>{{ 'companies'|trans }}</h1>
    </div>

<div class="container">
    <div class="row">
    {% for company in documents %}
        <div class="badger-left badger-success" data-badger="{{ company.category.parent.name }} > {{ company.category }}">
            <div class="row">
                <div class="col-xs-2">
                    <img class="img-responsive" src="http://placehold.it/100x70">
                </div>
                <div class="col-xs-22">
                    <h4 class="company-name">
                        <p class="pull-left hidden-md">
                        <a href="{{ path('company_show', { 'slug': company.slug }) }}">{{ company.name }}</a>
                        </p>

                        <p class="pull-right view-counts hidden-md">
                            <a href="#" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">6.1K <i class="glyphicon glyphicon-eye-open"></i></a>
                            <a href="#" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">8 <i class="glyphicon glyphicon-thumbs-up"></i></a>
                        </p>
                    </h4>
                    <h4>
                        {#{{ company.description }}#}
                    </h4>
                    <table class="table table-condensed table-responsive table-user-information">
                        <tbody>
                        <tr>
                            <td>User level:</td>
                            <td>Administrator</td>
                        </tr>
                        <tr>
                            <td>Registered since:</td>
                            <td>11/12/2013</td>
                        </tr>
                        <tr>
                            <td>Topics</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Warnings</td>
                            <td>0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-24">
                    <a href="{{ path('company_show', { 'slug': company.slug }) }}" class="view-button btn btn-primary btn-lg btn-block center-block">{{ 'main_page.view_button'|trans }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}