{% extends "::base.html.twig" %}

{% block body %}
<div class="heading">
    <h1>{{ 'companies'|trans }}</h1>
</div>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for document in documents %}
        <tr>
            <td><a href="#">{{ document.id }}</a></td>
            <td>{{ document.name }}</td>
            <td>{{ document.description }}</td>
            <td>{{ document.lat }}</td>
            <td>{{ document.long }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('company_show', { 'slug': document.slug }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('company_edit', { 'slug': document.slug }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-small btn-primary" href="{{ path('company_new') }}">{{ 'add_your_company'|trans }}</a>
{% endblock %}