{% extends "::base.html.twig" %}
{% block title %}{{ company.name }}{% endblock %}
{% block meta_desc %}{% if company.metaData %}{{ company.metaData.metaDescription }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if company.metaData %}{{ company.metaData.metaKeywords }}{% endif %}{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <style>
        body {background-image: none }
        body {background-color: #ffffff}
    </style>
{% endblock %}

{% block header_and_navbar %}
{% endblock %}

{% block body %}
    {% if is_company_owner(app.user, company) %}
    <a id="edit-my-company" target="_blank" href="{{ path('company_edit', { 'slug': company.slug }) }}" class="btn btn-success">
        <i class="glyphicon glyphicon-edit"></i> {{ 'view_company.edit_my_company'|trans }}
    </a>
    {% endif %}

<div class="view-block center-block">
    <div class="header">
        <h3 class="text-muted">{{ company.name }}</h3>
    </div>

    <div class="col-24" style="margin-top: 20px">
        <div class="col-lg-12">
            <div class="imagePreview">
                <span class="thumbnail">
                    {% if company.id and company.logo %}
                        <img  src="{{ company.logo.webpath | imagine_filter('company_edit') }}" />
                    {% else %}
                        <img src="http://placehold.it/300x200&text=firma.ck.ua" alt="Logo" />
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col-lg-12">
            <table class="table table-condensed table-responsive table-user-information wide-rows">
                <tbody>
                <tr>
                    <td class="va">
                        <span class="black">
                            <i class="glyphicon glyphicon-home"></i>
                            {{ 'catalog.address'|trans }}:
                        </span>
                        &nbsp;{{ company.fullAddress }}
                    </td>
                </tr>
                <tr>
                    <td class="va">
                        <span class="black">
                            <i class="glyphicon glyphicon-envelope"></i>
                            {{ 'catalog.email'|trans }}:&nbsp;
                        </span>
                        {% if company.email %}{{ company.email }}{% else %}{{ 'catalog.no_value'|trans }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="va">
                        <span class="black">
                        <i class="glyphicon glyphicon-phone"></i>
                        {{ 'catalog.mobile'|trans }}:&nbsp;
                        </span>
                        {% if company.mobilePhone %}{{ company.mobilePhone }}{% else %}{{ 'catalog.no_value'|trans }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="va">
                        <span class="black">
                        <i class="glyphicon glyphicon-phone-alt"></i>
                        {{ 'catalog.phone'|trans }}:&nbsp;
                        </span>
                        {% if company.phone %}{{ company.phone }}{% else %}{{ 'catalog.no_value'|trans }}{% endif %}
                    </td>
                </tr>
                <tr style="border-bottom: 1px #ddd solid">
                    <td class="va">
                        <span class="black">
                        <i class="glyphicon glyphicon-globe"></i>
                        {{ 'catalog.site'|trans }}:&nbsp;
                        </span>
                        {% if company.site %}{{ company.site }}{% else %}{{ 'catalog.no_value'|trans }}{% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-24">
            <span class="black"><b>Описание:</b> {{ company.description }}</span>
        </div>
    </div>
    <div class="col-lg-24">
        <br>
        <span class="black">
            {{ 'view_company.on_map'|trans }}:
        </span>
        <div id=map style="border: 1px #e5e5e5 solid; height: 400px"></div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <footer id="footer" style="background-color: #ffffff"></footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{ asset('js/gmaps.js') }}"></script>
    <script>
        initMap('{{ company.lat }}', '{{ company.long }}');
    </script>
{% endblock %}