{% trans_default_domain 'UserBundle' %}
{% form_theme form 'CompanyBundle:Form:fields.html.twig' %}

<div class="container ">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-14 col-sm-offset-5">
        {#{% if error %}#}
            {#<div class="alert alert-danger border-radius">{{ error|trans }}</div>#}
        {#{% endif %}#}

        <div class="panel panel-info border-radius" >
            <div class="panel-heading">
                <div class="panel-title">{{ 'form.register'|trans }}</div>
                <div style="float:right; font-size: 80%; position: relative; top:-15px"><a href="{{ path('fos_user_resetting_request') }}">{{ 'form.forgote_pass'|trans }}</a></div>
            </div>
            <div style="padding-top:30px" class="panel-body" >
                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    {#{{ form_row(form.email, {}, {'attr': {'class': ''} }) }}#}
                    {{ form_widget(form) }}
                    <div>
                    <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>