{% extends "::base.html.twig" %}

{% block body %}
    <div class="heading">
        <h1>{{ 'categories'|trans }}</h1>
    </div>

<div class="container">
    <div class="row center-block" style="width:760px">
        <ul id="categories-list">
        {% for category in categories %}
            {% if category.parent == null %}
                <li style="clear: both; margin-top: 10px; margin-top: 10px;
float: left;
width: 100%;"><h4><b>{{ category.name }}</b></h4></li>

                {% for cat in subCategories %}
                    {% if cat.parent != null and cat.parent.id == category.id %}
                        <li class="inline">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{ path('companies_for_category', {'slug': cat.slug}) }}">
                                {{ cat.name }}
                            </a>
                            ({{ category_company_count(cat) }})
                        </li>
                    {% endif %}
                {% endfor %}

            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
